// Variables
$primaryColor: #e4f2ef;
$secondaryColor: #388895;
$yellow: #dddb76;
$btnBg: #ef694d;

// Mixin
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  @include flexCenter;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

input {
  cursor: pointer;
}

.info {
  @include flexCenter;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: $primaryColor;

  &__container {
    > h2 {
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $secondaryColor;
      text-align: center;
      color: $secondaryColor;
    }

    &__extra {
      padding: 0.5rem;
      color: $secondaryColor;

      .highlight {
        color: #000;
        font-weight: 700;
      }
    }

    .alphabet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(13, 1fr);
      grid-auto-flow: column;
      padding: 0.5rem;

      &__letter {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        gap: 1rem;

        > p {
          font-weight: 700;
          padding-left: 1rem;
        }

        .dot {
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: #000;
          display: inline-block;
        }

        .bar {
          height: 8px;
          width: 18px;
          background-color: #000;
          display: inline-block;
        }
      }
    }
  }
}

.translator {
  @include flexCenter;
  height: 100%;
  width: 100%;
  background-color: $secondaryColor;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    .title {
      text-align: center;
      font-size: 3.5rem;
      color: $primaryColor;
    }

    .options {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      color: $yellow;
      font-size: 1.2rem;
      font-weight: 700;

      &__heading {
        width: 100%;
        text-decoration: underline 3px;
        text-underline-offset: 2px;
        text-align: center;
      }

      .arrow {
        padding: 0 0.5rem;
      }

      input[type="radio"] {
        accent-color: $yellow;
      }
    }

    .text-box {
      height: 6rem;
      border: 2px solid #000;
      border-radius: 5px;
      background-color: #fff;
      padding: 1rem;
      font-size: 1.2rem;
    }

    #output-box {
      font-size: 1.6rem;
    }

    > button {
      width: max-content;
      padding: 8px 12px;
      font-size: 1.1rem;
      background-color: $yellow;
      border-radius: 5px;
      border: 1px solid $yellow;
    }

    > button:hover {
      cursor: pointer;
    }

    > button:active {
      transform: scale(0.98);
      opacity: 0.9;
    }
  }
}

// shape divider

.shapedividers_com-1382{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-1382::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 42px 100%;
  background-position: 0% 50%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100.69 476.62"><path fill="%23388895" d="M0 476.62h100.69L5.22 238.32 100.7 0H0z"/></svg>'); 
  }    